@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&family=Raleway:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    list-style-type: none;
}

.wrapper{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.links_burger {
    padding: 12px 0;
    display: none;
}

.header-scrolled {
    background-color: rgba(37, 43, 73, 0.8);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BABBC5
    
}

.menu {
    display: flex;

}

.menu-el {
    text-align: center;
    
}

.menu-el__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    width: 134px;
    text-align: center;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    padding-top: 43px;
    padding-bottom: 42px;
}

.menu-el__link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    transition: 0.3s;
}

.menu-el:hover .menu-el__link::before {
    background-color: #BABBC5;
    width: 100%;
}

.menu-el:active .menu-el__link::before {
    background-color: #E71414;
}

.menu-el:active .menu-el__link {
    color: #E71414;
}

.button {
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    width: 370px;
    height: 80px;
    background: #FF4343;
    transition-duration: .3s;
}

.button:hover {
    background: #E71414;
    cursor: pointer;
}

.button:active {
    background: #FF4343;
    box-shadow: 4px 4px 30px 0px #FF4343;
}

.section-entry {
    position: relative;
    background: rgba(37, 43, 73, 0.8);
    padding-top: 230px;
    padding-bottom: 120px;
}

.section-entry__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-entry__fon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1; 
}

.section-entry h1 {
    margin-bottom: 31px;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 64px;
    font-weight: 900;
    text-transform: uppercase;
}

.section-entry p {
    margin-bottom: 79px;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
}

.section-features {
    padding-top: 116px;

}

.section-features-block {
    display: flex;
    flex-wrap: wrap;
    gap: 88px 30px;
    
}

.section-features-block__el {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% - 60px) / 3);
}

.section-features-block img {
    margin-bottom: 51px;
}

.section-features-block h2 {
    margin-bottom: 42px;
    color: #2D3033;
    text-align: center;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
}

.section-features-block p {
    color: #6C7279;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}

.section-works {
    padding-top: 133px;
}

.section-works__wrapper {
    max-width: none;
    padding: 0;
}

.project-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.project-gallery__el {
    position: relative;
    width: 100%;
    border: 1px solid #FFF;
    transition: 0.5s;
}

.project-gallery__el img {
    display: block;
    width: 100%;
}

.project-gallery__link {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    background: rgba(255, 67, 67, 0.80);
    width: 100%;
    height: 100%;
    transition: .5s;
    opacity: 0;
}

.project-gallery__title {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
}

.project-gallery__info {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}

.project-gallery__el:hover .project-gallery__link {
    opacity: 1;
}

.project-gallery__el:active .project-gallery__link {
    background: rgba(185, 12, 12, 0.80);
    opacity: 1;
}

.section-team {
    padding: 114px 0;

}

.team-block {
    display: flex;
    gap: 30px;
}

.team-block__el {
    display: flex;
    flex-direction: column;
    width: calc((100% - 90px) / 4);
}

.team-photo {
    width: 100%;
    margin-bottom: 31px;
}

.team-block__name {
    color: #2D3033;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 6px;
}

.team-block__position {
    color: #FF4343;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.team-block__info {
    color: #6C7279;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 38px;
}

.social-media__block {
    display: flex;
    gap: 6px;
}

.section-testimonials {
    /* background: #5C3249; */
  }
  
  .section-testimonials__wrapper {
    max-width: none;
    padding: 0;
  }
  
  .slider-block__el {
    background: #5c3249;
    display: flex;
    width: 100%;
  }
  
  .slider-block__el img {
    width: 50%;
    flex-shrink: 0;
  }
  
  .testimonials-block__info {
    align-self: center;
    padding-left: 129px;
    padding-right: 170px;
  }
  
  .testimonials-block__info h2 {
    color: #fff;
    font-family: Cardo;
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 22px;
  }
  
  .testimonials-block__info p {
    color: #fff;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
  }

.section-download {
    padding-top: 132px;
    padding-bottom: 114px;
}

.download-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-block h3 {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 22px;
}

.download-block h5 {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 47px;
}

.section-company-info {
    padding-top: 71px;
    padding-bottom: 67px;
    background: #353C65;
}

.company-info__block {
    display: flex;
    gap: 30px;
}

.company-info__block-el h5 {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 29px;
}

.company-info__block-el p {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}

.company-info__block-el {
    width: calc((100% - 60px) / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-info-social-media h5 {
    margin-bottom: 49px;
}

.company-info-social-media__block {
    display: flex;
    gap: 27px;
}

.section-copyright {
    background: #2C3154;
    padding: 24px 0;
}

.section-copyright__wrapper {
    display: flex;
    justify-content: center;
}

.section-copyright__wrapper p {
    max-width: 370px;
    color: #808080;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;      
}

.slider-dots {
    padding-top: 31px;
    display: flex;
    justify-content: center;
    gap: 25px;
}
  
.slider-block {
    display: flex;
    transition: transform 0.3s ease-in-out;
}
  
.slider {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
  
.slider-block__el {
    flex: 1;
    min-width: 100%;
}
  
.slider-radio {
    display: none;
}
  
.slider-dots__el {
    width: 14px;
    height: 14px;
    border: 2px solid #7e5d6f;
    border-radius: 50%;
    transition: all 0.3s;
    cursor: pointer;
}
  
#slide1:checked ~ .slider-block {
    transform: translateX(0);
}
#slide1:checked ~ .slider-dots #dot1 {
    background: #7e5d6f;
}
  
#slide2:checked ~ .slider-block {
    transform: translateX(-100%);
}
#slide2:checked ~ .slider-dots #dot2 {
    background: #7e5d6f;
}
  
#slide3:checked ~ .slider-block {
    transform: translateX(-200%);
}
#slide3:checked ~ .slider-dots #dot3 {
    background: #7e5d6f;
}
  
#slide4:checked ~ .slider-block {
    transform: translateX(-300%);
}
#slide4:checked ~ .slider-dots #dot4 {
    background: #7e5d6f;
}
  
#slide5:checked ~ .slider-block {
    transform: translateX(-400%);
}
#slide5:checked ~ .slider-dots #dot5 {
    background: #7e5d6f;
}

.section-copyright__wrapper span {
    color: #FFF;
}

@media (max-width: 1310px) {
    .testimonials-block__info {
        padding-left: 88px;
        padding-right: 104px;
    }
}

@media (max-width: 1240px) {
    .testimonials-block__info h2 {
        font-size: 24px;
    }
}

@media (max-width: 1200px) {
    .wrapper {
        padding: 0 20px;
    }

    .menu-el__link {
        font-size: 12px;
        width: 112px;
    }


    .section-works__wrapper,
    .section-testimonials__wrapper {
        padding: 0;
    }

    .section-entry{
        padding-top: 257px;
        padding-bottom: 126px;
    }

    .section-entry h1 {
        font-size: 48px;
        margin-bottom: 62px;
    }

    .section-entry p {
        font-size: 18px;
        margin-bottom: 92px;
    }

    .button {
        width: 313px;
        height: 77px;
    }

    .section-features {
        padding-top: 78px;
    }

    .section-features-block {
        gap: 50px 20px;
    }

    .section-features-block img {
        width: 85px;
        height: 85px;
        margin-bottom: 24.5px;
    }

    .section-features-block h2 {
        font-size: 18px;
        margin-bottom: 23.5px;
    }

    .section-features-block p {
        font-size: 14px;
    }

    .section-works {
        padding-top: 80px;
    }

    .project-gallery__link {
        gap: 22.5px;
    }

    .project-gallery__title {
        font-size: 18px;
    }

    .project-gallery__info {
        font-size: 14px;
    }

    .section-team {
        padding: 78px 0;
    }

    .team-block {
        gap: 25px;
    }

    .team-block__el {
        width: calc((100% - 75px) / 4);
    }

    .team-photo {
        margin-bottom: 27px;
    }

    .team-block__name {
        font-size: 18px;
    }

    .team-block__position {
        font-size: 14px;
        margin-bottom: 22.5px;
    }

    .team-block__info {
        font-size: 14px;
        margin-bottom: 39px;
    }

    .social-media__block {
        gap: 5px;
    }

    .social-media__block img {
        width: 33px;
        height: 33px;
    }

    .testimonials-block__info p {
        font-size: 12px;
    }

    .testimonials-block__info {
        padding-top: 57px;
        align-self: normal;
    }
 
    .section-download {
        padding-top: 93px;
        padding-bottom: 78px;
    }

    .download-block h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .download-block h5 {
        font-size: 14px;
        margin-bottom: 43px;
    }

    .section-company-info {
        padding-top: 46px;
        padding-bottom: 41px;
    }

    .company-info__block {
        gap: 20px;
    }

    .company-info__block-el h5 {
        font-size: 14px;
        margin-bottom: 17px;
    }

    .company-info-social-media h5 {
        margin-bottom: 32.5px;
    }

    .company-info__block-el p {
        font-size: 14px;
    }

    .company-info-social-media__block img {
        width: 33px;
        height: 33px;
    }

    .company-info-social-media__block {
        gap: 23px;
    }

    .section-copyright__wrapper p {
        font-size: 14px;
        max-width: 314px;
    }
    
    .section-copyright {
        padding: 14px 0;
    }

    .btn {
        font-size: 18px;
    }
}

@media (max-width: 930px) {
    .testimonials-block__info {
        padding-top: 40px;
        padding-left: 60px;
        padding-right: 80px;
    }
}

@media (max-width: 768px) {
    .logo img {
        width: 107px;
        height: 17px;
    }

    .menu {
        display: none;
    }

    .links_burger {
        display: block;
    }

    .section-entry {
        padding-top: 106px;
        padding-bottom: 52px;
    }

    .section-entry h1 {
        font-size: 36px;
        margin-bottom: 32px;
    }

    .section-entry p {
        font-size: 14px;
        margin-bottom: 49px;
    }

    .button {
        width: 279px;
        height: 57px;
    }

    .section-features {
        padding-top: 40px;
    }

    .section-features-block {
        flex-direction: column;
        align-items: center;
        gap: 41px;
    }

    .section-features-block__el {
        width: 100%;
    }

    .section-features-block img {
        width: 75px;
        height: 75px;
        margin-bottom: 37px;
    }

    .section-features-block h2 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .section-works {
        padding-top: 35px;
    }

    .project-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-gallery__link {
        gap: 7px;
    }

    .section-team {
        padding: 35px 0;
    }

    .team-block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 49px 25px;
    }

    .team-block__el {
        width: 100%;
    }

    .team-block__position {
        margin-bottom: 38.5px;
    }

    .team-block__info {
        margin-bottom: 55px;
    }

    .social-media__block img {
        width: 39px;
        height: 39px;
    }

    .slider-block__el {
        flex-direction: column;
    }

    .slider-block__el img {
        width: 100%;
    }

    .testimonials-block__info {
        padding: 24px 20px 101px 25px;
    }

    .testimonials-block__info h2 {
        text-align: center;
    }

    .testimonials-block__info p {
        text-align: center;
    }

    .section-download {
        padding-top: 46px;
        padding-bottom: 45px;
    }

    .download-block h3 {
        font-size: 18px;
        margin-bottom: 14px;
    }

    .download-block h5 {
        font-size: 13px;
        margin-bottom: 18px;
    }

    .section-company-info {
        padding-top: 34px;
        padding-bottom: 33px;
    }

    .company-info__block {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }

    .company-info__block-el {
        width: 100%;
    }

    .company-info__block-el h5 {
        margin-bottom: 34px;
    }

    .company-info-social-media h5 {
        margin-bottom: 36px;
    }

    .company-info-social-media__block {
        gap: 16px;
    }

    .section-copyright__wrapper p {
        max-width: 280px;
    }
    .section-copyright {
        padding: 29px 0;
    }
}

@media (max-width: 500px) {
    .team-block {
        grid-template-columns: repeat(1, 1fr);
        gap: 49px;
    }
}
